textblob
newsapi-python
matplotlib
streamlit
python-dotenv
requests
wordcloud
groq
alpha_vantage>=2.3.1
pandas
pysqlite3-binary
yfinance
scikit-learn
prophet
plotly
nltk
chromadb
protobuf==3.20.3
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
